body {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 24pt;
  text-align: center;
  padding: 1em 1em 0;
  color: black;
  color: var(--color);
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: var(--font), 'Courier New', Courier, monospace, sans-serif;
  font-size: var(--size);
  font-style: var(--style);
  font-weight: var(--weight);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

a {
  display: inline-block;
  color: black;
  color: var(--color);
  text-decoration: underline;
}

.link {
  display: inline-block;
  font-size: 90px;
  font-size: var(--link-size);
  margin-bottom: 0.5em;
  color: var(--color);
}

  .link.marquee {
    border-bottom: calc(var(--link-size) / 10) solid var(--color);
    padding: 0.25em;
    text-decoration: none;
    white-space: nowrap;
    margin: 0;
    width: 100%;
  }

  .link.marquee:first-child {
    border-top: calc(var(--link-size) / 10) solid var(--color);
  }

  .link.marquee:last-child {
    margin-bottom: 0;
  }

.logo {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}


.marquee {
  overflow: hidden;
  position: relative;
  height: 1em;
}

.marquee__inner {
  top: 0;
  position: absolute;
  animation: marquee-left 15s linear infinite;
}

.marquee__inner:hover {
  animation-play-state: paused;
}

@keyframes marquee-left {
  0%   { transform: translateX(0%) }
  100% { transform: translateX(-50%) }
}

/* Side scrolling style */
  body.side-scrolling {
    padding-left: 0;
    padding-right: 0;
  }

  body.side-scrolling ul {
    max-width: 100%;
    overflow: hidden;
  }

  body.side-scrolling a {
    text-decoration: none;
  }

/* Blocks style */
  body.blocks a {
    text-decoration: none;
  }

  body.blocks .link {
    border: calc(var(--link-size) / 10) solid var(--color);
    padding: 0.5em;
  }

  /* Fauxvetica style */
  body.fauxvetica {
    text-align: left;
    font-size: var(--size);
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    text-align: left;
    padding: 0.75em 0.75em 0;
    color: black;
    color: var(--color);
    margin: 0;
    font-family: var(--font), 'Roboto', sans-serif;
    font-size: var(--size);
    font-style: var(--style);
    font-weight: var(--weight);
  }

  body.fauxvetica h1 {
    font-size: 36px;
    font-style: italic;
    font-weight: 900;
    padding-bottom: 1em;
    margin: 0;
  }

  body.fauxvetica a {
    text-decoration: none;
  }

  body.fauxvetica .link {
    padding-bottom: 0.5em;
      font-weight: var(--weight);
    overflow-wrap: break-word;
  }

  body.fauxvetica a:hover {
    background-color: #000000;
    color:#ffffff;
  }

  body.fauxvetica a:active {
    background-color: #000000;
    color:#ffffff;
  }


@media screen and (max-width: 768px)  {
  body {
    font-size: calc(var(--size) / 3);
  }

  .link {
    font-size: calc(var(--link-size) / 3);
  }

  .link.marquee {
    border-width: calc(var(--link-size) / 20);
  }

  .link.marquee:first-child {
    border-width: calc(var(--link-size) / 20);
  }

  body.blocks .link {
    border-width: calc(var(--link-size) / 20);
  }

  body.fauxvetica a.link {
    border-width: calc(var(--link-size) / 20);
    font-size: calc(var(--link-size) / 2);
    overflow-wrap: break-word;
    word-break: break-all;
  }
}

@media screen and (max-width: 400px)  {
  body.fauxvetica a.link {
    border-width: calc(var(--link-size) / 20);
    font-size: calc(var(--link-size) / 2);
    overflow-wrap: break-word;
    word-break: break-all;
  }
}
